<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bestellingen Lijst</title>
</head>
<body>
<h1>Lijst van alle bestellingen</h1>
<table>
    <thead>
    <th>Titel:</th>
    <th>Aantal Liter:</th>
    <th>Gewenste Lever datum:</th>
    </thead>
    <tbody>
    <div th:if="${bestellingList.size()}!=0" class="table-striped well" >
        <div th:each="bestelling : ${bestellingList}">
            <td th:text="${bestelling.getLiterBesteld()}"></td>
            <td><a th:href="@{/bestelling/InPlannen}">Bekijk de lijst van bestellingen</a></td>
        </div>
    </div>
    </tbody>
</table>
<hr>
<a th:href="@{/}">Terug naar home page</a>
</body>
</html>