<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Bestelling</title>
</head>
<body>
<h1>Maak een nieuwe bestelling aan</h1>
<form method="post" >
    <div>
        <label>Voornaam</label>
    </div>
    <div>
        <label>Achternaam</label>
    </div>
    <div>
        <label>Aantal liter</label>
    </div>
    <div>
        <label>Saus</label>
    </div>
</form>
<hr>
<a th:href="@{/}">Terug naar home page</a>
</body>
</html>