<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Bestelling</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<h1>Welcome to bestelling</h1>

<form method="POST" th:action="@{/bestelling}" >

    <input type="hidden"  />

    <div class="form-group">
        <label>Titel:&nbsp;</label><input type="text" style="width: 40em" />
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-md" name="submit">Create Bestelling</button>
    </div>
</form>
</body>
</html>