<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <meta charset="UTF-8">
    <title>FreshSaucyFoods - Home</title>
</head>
<body>
<h1 >Welcome to FreshSaucyFoods</h1>
<img  th:src="@{/images/LogoFreshSaucyFoods.png}">
<p th:text="${#dates.createNow()}"></p>
<hr>
<ul>
    <li><a th:href="@{/bestelling}">Ga naar Bestelling</a></li>
    <li><a th:href="@{/Login}">Ga naar Login</a></li>

</ul>
</body>
</html>